
body {
    text-align: center;
    background-image: url("../image/mg2.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
/* color: white */
}
#container{
    margin-top: 60px;
}
form {
    display: inline-block;
}
img {
    width: 400px;
    height: 400px;
   margin: auto;
}
#roll{
    width: 400px;
    height: 400px;
   margin: auto; 

}
#warning{
    color: rgb(35, 41, 58);
    font-size: 35px;
}
p{
    background-color:   rgba(0, 0, 0, 0.5) ;
     -webkit-border-radius: 20px;
        border-radius: 20px;
        padding: 20px;
        
        
}
input{
 padding: 5px 25px;
        background: #f0f3f5;
        border: 0 none;
        cursor: pointer;
        -webkit-border-radius: 20px;
        border-radius: 20px; 
        
}
button{
    background-color:   rgba(0, 0, 0, 0.5) ;
    color:white;
     -webkit-border-radius: 5px;
        border-radius: 10px;
         padding: 20px;
}

@media only screen and (max-width:600px){
    #roll{
    width: 200px;
    height: 200px;
   margin: auto; 
 

}
#warning{
   
    font-size: 20px;
}
}